<div class="listbox">
  <h4 class='list'>Thanks! Your product was added!</h4>
  <a href="/new"><button class="button" type="button" name="button">Add another Product</button></a>
  <a href="/"><button class="button" type="button" name="button">Return to your list</button></a>
</div>
