<div class='outsidebox'>
  <div class="listbox">
  <h4 class='list'>Product Removed</h4>
  <p class='list1'>
    You have removed a product from your list!
  </p>
  <a href="/"><button class="button" type="button" name="button">Back to your list</button></a>
  </div>
</div>
