
<div class="outsidebox">
  <div class="listbox">
    <h1 class='list'>Add New Product To List</h1>

    <%= form_for @product, url: {action: 'create'},:html => {:class => "usercreateform"} do |f| %>
      Item: <br><%= f.text_field :name, class: 'inputbox' %><br>
      Quantity: <br><%= f.text_field :quantity, class: 'inputbox' %><br>
      <%= f.submit 'Add item to list', class: 'button1'%>
    <% end %>
    <a href="/"><button class="button" type="button" name="button">Return to your list</button></a>
  </div>
</div>
